# Ignore node_modules (Frontend & Backend)
node_modules/
backend/node_modules/
frontend/node_modules/

# Ignore environment files
.env
backend/.env
frontend/.env

# Ignore dependencies lock files
package-lock.json
yarn.lock
