/* Signup.css */
.signup-container {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.signup-box {
  width: 400px;
  padding: 20px;
  background: white;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.signup-box h2 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.signup-box p {
  color: red;
  font-size: 14px;
}

.signup-box input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.signup-box button {
  width: 100%;
  padding: 10px;
  background: green;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.signup-box button:hover {
  background: darkgreen;
}

.recaptcha-container {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}
